.footer {
  position: relative;
  padding-top: 80px;

  &::before {
    @include pseudo;
    top: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background: #E41D22;
  }

  &::after {
    @include pseudo;
    top: 13px;
    left: 0;
    width: 100%;
    height: 4px;
    background: #E41D22;
  }
}

.footer__bottom {
  width: 100%;
  background-color:  #C4C4C4;;
}

.footer__wrapper {
  display: flex;
  min-height: 50px;
  justify-content: space-between;
  align-items: center;

  &--top {
    margin-bottom: 20px;
  }
}

.footer__docs {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 30px;
}

.footer__link {
  &--bottom {
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
  }

  &--docs {
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;

    text-decoration-line: underline;

    color: #313131;

    &:first-child {
      margin-right: 50px;
    }
  }
}

.footer .logo {
  margin: 0;
  transform: unset;
}

.footer .contacts__location {
  margin-right: 0;
}

.footer .contacts__link--mail {
  font-size: 12px;
}

.footer .logo img {
    width: 200px;
    max-width: none;
}
