::-webkit-input-placeholder {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-align: left;
  color: #313131;

  @media (max-width: 834px) {
    text-align: center;
    font-size: 16px;
    line-height: 26px;
  }
}
::-moz-placeholder {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-align: left;
  color: #313131;

  @media (max-width: 834px) {
    text-align: center;
    font-size: 16px;
    line-height: 26px;
  }
}
:-moz-placeholder{
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-align: left;
  color: #313131;

  @media (max-width: 834px) {
    text-align: center;
    font-size: 16px;
    line-height: 26px;
  }
}
:-ms-input-placeholder {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-align: left;
  color: #313131;

  @media (max-width: 834px) {
    text-align: center;
    font-size: 16px;
    line-height: 26px;
  }
}

.form {
  position: relative;
  width: 75%;
  margin: 0 auto;
  padding: 10px 30px;
  margin-top: 60px;
  margin-bottom: 80px;
  background-color: #ffffff;
  color: #2d3a4d;

  @media (max-width: 714px) {
    width: 100%;
    padding: 10px 0;
    margin-top: 25px;
    margin-bottom: 30px;
  }

  &--modal {
    display: flex;
    margin: 0;
    flex-direction: column;
    width: 450px;
    padding: 30px 60px;
    padding-top: calc(30px - 1em);
    box-shadow: none;
    border-radius: 40px;

    @media (max-width: 600px) {
      width: 310px;
      padding: 5px 15px;
      padding-top: calc(5px - 1em);
    }
  }
}

.form__caption {
  font-size: 30px;
  line-height: 40px;
  font-weight: bold;

  &--modal {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: calc(35px - 1em);
  }

  @media (max-width: 550px) {
    font-size: 24px;
    line-height: 30px;
  }
}

.form__caption--modal span {
  color: #E41D22;
}

.form__subcaption {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;

  @media (max-width: 550px) {
    font-size: 16px;
    line-height: 30px;
  }


  &--modal {
    font-size: 14px;
    line-height: 21px;
    text-align: center;

    @media (max-width: 600px) {
      font-size: 14px;
      line-height: 21px;
    }
  }
}

.form__wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;

  &--modal {
    flex-direction: column;
    margin-bottom: 0;
  }

  @media (max-width: 1217px) {
    flex-direction: column;
  }

  @media (max-width: 550px) {
    margin-bottom: 15px;
  }

  &--agreement {
    justify-content: left;
  }
}

.form__input {
  width: 100%;
  padding: 20px 60px 20px 40px;

  background-color: transparent;
  border: none;
  border-bottom: 2px solid #313131;
  transition: 0.5s;

  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #313131;

  &--tel {
    background-image: url("../img/svg/form-phone.svg");
    background-position: top 25px left 10px;
    background-repeat: no-repeat;
  }

  &--name {
    padding: 20px 60px 20px 50px;
    background-image: url("../img/svg/form-name.svg");
    background-position: top 25px left 10px;
    background-repeat: no-repeat;
  }

  &--modal {
    padding: 20px 30px 20px 40px;
  }

  @media (max-width: 1340px) {
    font-size: 16px;
    padding: 20px 20px 20px 40px;
  }

  &:hover {
    transition: 0.5s;
    box-shadow: inset 0 3px 13px -7px rgba(0, 0, 0, 0.3);
  }
}



.form__label {
  min-width: 421px;

  @media (max-width: 1340px) {
    min-width: 330px;
  }

  @media (max-width: 1217px) {
    margin-bottom: 15px;
  }

  @media (max-width: 833px) {
    min-width: 300px;
    width: 100%;
  }

  &--checkbox {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;

    &:hover {
      transition: 0.5s;
      box-shadow: 0 3px 13px -7px rgba(0, 0, 0, 0.3);
    }

    @media (max-width: 812px) {
      font-size: 12px;
    }

    @media (max-width: 390px) {
      width: 280px;
      font-size: 11px;
    }
  }

  &--modal {
    min-width: unset;
    width: 100%;
    margin-bottom: 20px;
  }

  &--modal-checkbox {
    width: auto;
    font-size: 12px;

    @media (max-width:600px) {
      text-align: center;
      margin-bottom: 10px;
    }
  }
}

.form__checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.form__checkbox + label {
  position: relative;
  padding: 0 0 0 25px;
  cursor: pointer;
}

.form__checkbox + label::after {
  @include pseudo;
  top: 2px;
  left: 0;
  width: 17px;
  height: 17px;

  border: 2px solid #313131;
}

.form__checkbox:checked + label::before {
  @include pseudo;
  top: -2px;
  left: 2px;
  z-index: 1111;
  border: 3px solid #E41D22;
  border-width: 0 3px 3px 0;
  padding: 6px;
  transform: rotate(50deg);
}

.form-modal {
  display: none;
  max-width: 465px;
  padding: 0;

  border-radius: 20px;
}
