.hero {
  position: relative;
  display: flex;
  flex-direction: row;

  height: 100vh;
  min-height: 992px;

  margin: 0 auto;
  max-width: 1920px;
  padding: 0 55px;

  @media (max-width: 1150px) {
    padding: 0 25px;
  }

  @media (max-width: 874px) {
    padding: 0 15px;
  }
}

.hero__redline {
  height: 100%;
  background: linear-gradient(180deg, #E41D22 40.73%, rgba(228, 29, 34, 0) 100%);
  &--thin {
    width: 12px;
    margin-right: 11px;
    @media (max-width: 1150px) {
      width: 5px;
    }
  }
  &--fat {
    width: 32px;
    @media (max-width: 1150px) {
      width: 10px;
    }
  }
}

.hero__content {
  width: 50%;
  margin-top: 200px;
  margin-left: 200px;
}

.hero__caption {
  text-align: left;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
}

.hero__caption span {
  color: #E41D22;
}

.hero__img {
  position: absolute;
  top: 150px;
  right: 0;
  width: 500px;
  height: 800px;
}
