.home--link {
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 45px;
  height: 25px;
  border-radius: 20px;

  color: #ffffff;

  background: linear-gradient(180deg, #E41D22 0%, #960d12 100%);
  border: 1px solid #E41D22;
  box-shadow: inset 0px 6px 13px #E41D22;

  &:hover {
    transition: 0.5s;
    box-shadow: inset 0px 6px 13px #E41D22,
    0px 0px 20px 1px rgba(99, 10, 10, 0.64);
  }
}
