.btn {
  display: flex;
  flex-wrap: nowrap;
  border-radius: 40px;
  padding: 15px 42px;
  background-color: #E41D22;

  justify-content: center;
  align-items: center;

  color: #FFFFFF;
  font-size: 18px;
  line-height: 46px;
  font-weight: bold;
  text-align: center;

  transition: 0.5s;
  cursor: pointer;

  @media (max-width: 1530px) {
    padding: 15px 22px;
  }

  @media (max-width: 1150px) {
    width: 100%;
    margin-top: 20px;
  }

  @media (max-width: 874px) {
    padding: 10px 30px;
    font-size: 16px;
    line-height: 24px;
  }

  &:hover {
    box-shadow: 0px 7px 15px -8px #000000;
  }
}

.btn--black {
  width: 60%;
  margin-top: 40px;
  margin-bottom: 60px;
  line-height: 44px;
  background-color: #313131;

  @media (max-width: 674px) {
    width: 100%;
    padding: 10px 20px;
    font-size: 14px;
    line-height: 22px;
    margin-top: 20px;
    margin-bottom: 35px;
  }
}

.btn--submit {
  max-width: 421px;
  margin: 0;
  margin-left: 10px;

  @media (max-width: 1217px) {
    max-width: none;
    width: 100%;
    margin-left: 0;
    padding: 10px 22px;
  }

  @media (max-width: 340px) {
    padding: 10px 10px;
  }
}

.btn--modal {
  width: 100%;
}

button {
  border: none;
}
